<div class="card-agg">
<h1 class="text-shadow">Edição de post</h1>

<div class="container mt-5">
    <form action="/modificarPost" method="post">
    <input type="hidden" name="id" value="{{this.id}}">
        <div class="mx-auto w-50 text-center ">
            <label for="Post" class="emoji-label">Hmm o que será que vem por aí? &#129300;</label>
            <div class="form-floating">
                <textarea class="form-control" name="conteudo" style="height: 150px;"></textarea>
                <label for="floatingTextarea2">{{PostResgatado.conteudo}}</label>
            </div>
        </div>
        <div class="text-left mt-3"> <!-- Alinha o botão à esquerda e adiciona margem superior -->
            <button type="submit" class="btn custom-button">Publicar</button> <!-- Use uma classe personalizada -->
        </div>
    </form>
</div>
</div>